/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
%5: rgba(236,239,241,1) 
%10: rgba(207,216,220,1)
%20: rgba(176,190,197,1)
%30: rgba(144,166,174,1)
%40: rgba(120,144,156,1)
%50: rgba(96,125,139,1)
%60: rgba(84,110,122,1)
%80: rgba(55,71,79,1)
darkred: rgba(207,13,13,1)
midred: rgba(245,0,2,1)
pastelred: rgba(243,68,68,1)
gold: rgba(248,197,31,1)
*/

body	{
	font-family: New Rocker;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	background-color:  #000;
	
}

#wrapper{
	width:1024px;
	margin: 0 auto 0 auto;
	padding: 50px;
}

header	{
	background-color: #000;
	height: 190px;
	width: 1024px;
	top: 0;
	position: fixed;
	padding: 0 5px 0 5px;
}

#act{
	color:rgba(207,13,13,1);
}


#logo	{
	float:left;
	top: 0;
	height: 190px;
	width: 190px;
	display: inline;
}

nav {
	display: inline;
	margin-top: 0px;/* 
	border-style: solid;
    border-bottom: solid;
	border-color: rgba(207,13,13,1); */
}

nav ul	{
	font-size : 20px;
	text-align: center;
	padding: 85px 0 85px 0;
}

nav li	{
	border-style: solid;
    border-left: solid;
	padding: 0 15px 0 15px;
	border-color: rgba(207,13,13,1);
	display: inline;
}

nav a:link	{
	color: #fff;
	text-decoration: none;
}

nav a:visited	{
	color: #fff;
}

nav a:hover	{
	background-color: rgba(255,238,112,0);
	color: rgba(248,197,31,1);
}

nav a:active	{
	background-color: rgba(245,76,101,0);
	color: rgba(245,0,2,1);
}

#sched {
	margin: 100px auto 0px auto;
	color: rgba(248,197,31,1);
}
#sched td{
	padding: 40px;
	border-bottom: 1px solid rgba(207,13,13,1);
	border-left: 1px solid rgba(207,13,13,1);
}
#sched td.first {
	color: #fff;
	font-size: 30px;
	padding: 40px;
	border-left: 0px;
}
#sched td.first img{
	margin-top: 20px;
	width: 300px;
}
.container {
	
	color: #fff;
	margin-top: 190px;
	width: 100%;
}
.dayz {
	margin-bottom: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(200,200,200,1);
}
.dayz img{
	width: 100%;
}
.dayz h1{
	font-weight: 600;
	line-height: 80px;
	color: #fff;
	font-size: 30px;
}
.dayz span{
	margin-top:1px;
	color: rgba(175,175,175,1);
	line-height: 10px;
	font-size: 18px;
}
.dayz a{
	color: rgba(248,197,31,1);
	line-height: 65px;
	font-size: 18px;
}
.dayz .left {
	padding-top: 30px;
    float: left;
    width: 45%;
	text-align:left;
}
.dayz  .right {
    float: right;
	margin: auto;
    width: 45%;
	text-align:right;
}
.dayz:after {
    content:"";
    display: table;
    clear: both;
}